
#root {
  background-color: bisque;
}

.App-link {
  color: #61dafb;
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding-block: 1rem;
}

.jumbotron {
  min-height: 40vh;
  background-size: cover;
  background-image: url("./jumbo.jpg");
  color: white;
}

.jumbotron h1 {
  font-size: 4.5rem;
}

.card {
  height: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 125px;
}

.card .card-image-top {
  margin-bottom: auto;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}